Repository cafe-sur-cour/AREA, pull requests merged in 2025-09, with the labels that each got.

#2 README: Started the project overview
  README.md
Labels: documentation

#13 GITHUB FIX - about not desc in template
  .github/ISSUE_TEMPLATE/other_task.md
Labels: bug

#25 pull request (CI/CD): Implement pipeline and add githooks to unallow wrong commit
  .githooks/commit-msg
  .github/workflows/cicd.yml
  backend/.eslintrc.json
  backend/.gitkeep
  backend/.prettierignore
  backend/.prettierrc.json
  frontend/web/.eslintrc.json
  frontend/web/.gitkeep
  frontend/web/.prettierignore
  frontend/web/.prettierrc.json
Labels: DevOps

#29 GITHUB - HUB issue template
  .github/ISSUE_TEMPLATE/hub_issue.md
Labels: documentation, enhancement

#84 SCRIPTS - Automated update modules
  .gitignore
  scripts/modules_update.py
Labels: feature, DevOps

#120 pull request (database): Implement database queries to setup db
  .githooks/commit-msg
  database/.gitkeep
  database/relation/.gitkeep
  database/relation/users.sql
  database/relation/webhooks.sql
  database/table/.gitkeep
  database/table/external_webhooks.sql
  database/table/user_activity_logs.sql
  database/table/user_sessions.sql
  database/table/user_token.sql
  database/table/users.sql
  database/table/webhook_configs.sql
  database/table/webhook_events.sql
  database/table/webhook_failures.sql
  database/table/webhook_reactions.sql
  database/table/webhook_stats.sql
Labels: DataBase

#146 Update README installation instructions
  mobile/README.md
Labels: documentation

#147 backend - define mapping format
  backend/src/config/entity/WebhookConfigs.ts
  backend/src/types/mapping.ts
  database/table/webhook_configs.sql
Labels: DataBase, Backend

#158 backend - timer service actions
  backend/package.json
  backend/src/services/services/timer/TimerScheduler.ts
  backend/src/services/services/timer/actions.ts
  backend/src/services/services/timer/index.ts
  backend/src/services/services/timer/reactions.ts
  backend/src/services/services/timer/schemas.ts
  documentation/HOWTOCONTRIBUTE.md
  documentation/services/SERVICES_ARCHITECTURE.md
Labels: Backend

#157 pull request (Backend): Implement cors between backend and frontend
  .github/workflows/cicd.yml
  backend/index.ts
  backend/package.json
  deployment/docker-compose.yml
Labels: Backend

#163 pull request (Backend): Double authentification
  backend/package.json
  backend/src/routes/auth/auth.service.ts
  backend/src/routes/auth/auth.ts
  deployment/docker-compose.yml
Labels: Backend

#164 feat (backend): /about.json implementation
  backend/index.ts
  backend/src/routes/about/about.ts
Labels: Backend

#167 pull request (backend): Implement forgotten password and reset password
  backend/src/middleware/mail.ts
  backend/src/routes/auth/auth.service.ts
  backend/src/routes/auth/auth.ts
  backend/src/utils/express.d.ts
Labels: Backend

#169 backend - oauth subscription GitHub
  .github/workflows/cicd.yml
  backend/package.json
  backend/src/app.ts
  backend/src/routes/auth/auth.ts
  backend/src/services/services/github/actions.ts
  backend/src/services/services/github/index.ts
  backend/src/services/services/github/oauth.ts
  backend/src/services/services/github/reactions.ts
  deployment/docker-compose.yml
Labels: Backend, DevOps

#171 backend - implement actions
  backend/index.ts
  backend/src/config/db.ts
  backend/src/config/entity/UserServiceConfigs.ts
  backend/src/models/UserServiceConfig.ts
  backend/src/routes/github/github.ts
  backend/src/routes/services/configs.ts
  backend/src/routes/user/user.ts
  backend/src/services/ExecutionService.ts
  backend/src/services/ServiceRegistry.ts
  backend/src/services/UserServiceConfigService.ts
  backend/src/services/services/github/actions.ts
  backend/src/services/services/github/index.ts
  backend/src/services/services/github/schemas.ts
  backend/src/services/services/github/webhookManager.ts
  backend/src/types/webhook.ts
  backend/src/webhooks/WebhookLoader.ts
  backend/src/webhooks/github/index.ts
  backend/src/webhooks/index.ts
  database/table/external_webhooks.sql
  documentation/HOWTOCONTRIBUTE.md
  documentation/services/SERVICES_ARCHITECTURE.md
Labels: Backend

#172 Implemented new features in the profile page (login, register, forgot password,...)
  mobile/devtools_options.yaml
  mobile/lib/core/constants/app_constants.dart
  mobile/lib/core/constants/app_strings.dart
  mobile/lib/core/notifiers/backend_address_notifier.dart
  mobile/lib/core/notifiers/locale_notifier.dart
  mobile/lib/l10n/app_en.arb
  mobile/lib/l10n/app_fr.arb
  mobile/lib/l10n/app_localizations.dart
  mobile/lib/l10n/app_localizations_en.dart
  mobile/lib/l10n/app_localizations_fr.dart
  mobile/lib/main.dart
  mobile/lib/screens/forgot_password_screen.dart
  mobile/lib/screens/login_screen.dart
  mobile/lib/screens/profile_screen.dart
  mobile/lib/screens/register_screen.dart
Labels: Mobile-UI

#175 pull request (backend): Unit tests backend
  .github/workflows/cicd.yml
  .gitignore
  backend/eslint.config.js
  backend/jest.config.js
  backend/package.json
  backend/src/routes/auth/auth.ts
  backend/tests/__mocks__/db.ts
  backend/tests/__mocks__/github.oauth.ts
  backend/tests/__mocks__/index.ts
  backend/tests/routes/about.test.ts
  backend/tests/routes/about.utils.test.ts
  backend/tests/routes/api.test.ts
  backend/tests/routes/auth.test.ts
  backend/tests/routes/user.test.ts
  backend/tests/services/auth.service.test.ts
  backend/tests/services/user.service.test.ts
  backend/tests/setup.ts
Labels: Backend

#180 fix (backend): added /api to webhooks route
  backend/index.ts
Labels: Backend

#183 fix (backend): translations
  backend/src/config/i18n.ts
  backend/src/routes/about/about.ts
Labels: Backend
