Repository cafe-sur-cour/AREA, pull requests merged in 2025-10, with the labels that each got.

#194 Added CI and CD for Mobile app
  .github/workflows/cicd.yml
  deployment/Dockerfile.mobile
  mobile/lib/screens/add_automation_screen.dart
  mobile/lib/screens/forgot_password_screen.dart
  mobile/lib/screens/login_screen.dart
  mobile/lib/screens/profile_screen.dart
  mobile/lib/screens/register_screen.dart
  mobile/pubspec.yaml
  mobile/test/widget_test.dart
Labels: DevOps

#198 Fix service subscription
  backend/index.ts
  backend/src/config/adminJs.ts
  backend/src/config/db.ts
  backend/src/config/entity/UserServiceSubscriptions.ts
  backend/src/config/passport.ts
  backend/src/routes/auth/auth.ts
  backend/src/routes/github/github.ts
  backend/src/routes/google/google.ts
  backend/src/services/ServiceSubscriptionManager.ts
  backend/src/webhooks/github/index.ts
  database/table/user_service_subscriptions.sql
  web/app/services/page.tsx
Labels: enhancement, Backend

#197 Improve navigation bar
  web/app/page.tsx
  web/components/NavLinks.tsx
  web/components/UserActions.tsx
  web/components/header.tsx
  web/components/ui/InputAvatar.tsx
  web/lib/config.ts
  web/package.json
  web/public/base-logo-transparent.png
Labels: Web-UI

#199 fix (backend): webhook url
  backend/src/services/services/github/webhookManager.ts
Labels: Backend

#203 fix (backend): url problems
  backend/src/routes/docs/swagger.ts
  web/lib/load-env.ts
Labels: Backend

#201 77 task backend admin manage users crud
  backend/eslint.config.js
  backend/package.json
  backend/src/config/adminJs.ts
  backend/src/config/dashboard.tsx
  backend/src/config/dashboardService.ts
Labels: DataBase

#207 backend - services ar communications
  backend/index.ts
  backend/src/config/entity/Session.ts
  backend/src/config/entity/WebhookConfigs.ts
  backend/src/routes/services/index.ts
  backend/src/routes/services/mappings.service.ts
  backend/src/routes/services/mappings.ts
  backend/src/services/ExecutionService.ts
  backend/src/types/mapping.ts
Labels: Backend

#208 pull request (backend): implement logs for user login and logout
  backend/src/config/db.ts
  backend/src/config/entity/Logger.ts
  backend/src/routes/auth/auth.ts
  backend/src/routes/logs/logs.service.ts
  database/table/logs.sql
Labels: DataBase, Backend

#209 Adding a loader in the header
  web/components/UserActions.tsx
Labels: bug, Web-UI

#210 Call Api on logout
  web/contexts/AuthContext.tsx
Labels: bug, Web-UI

#211 fix (backend): swagger docs
  backend/src/routes/services/mappings.ts
Labels: Backend

#212 fix (backend): a/r mapping executions
  backend/src/config/entity/WebhookEvents.ts
  backend/src/routes/services/mappings.service.ts
  backend/src/services/ExecutionService.ts
  backend/src/services/ServiceSubscriptionManager.ts
  backend/src/services/services/github/index.ts
  backend/src/services/services/timer/TimerScheduler.ts
  backend/src/services/services/timer/actions.ts
  backend/src/types/service.ts
Labels: enhancement, Backend

#215 pull request (backend): fix admin and replace mailersend by smtp
  backend/package.json
  backend/src/middleware/token.ts
  backend/src/routes/auth/auth.ts
  deployment/docker-compose.yml
Labels: Backend

#216 pull request (backend): implement register logs
  README.md
  backend/src/config/entity/Logger.ts
  backend/src/routes/auth/auth.ts
  backend/src/routes/logs/logs.service.ts
  database/table/logs.sql
Labels: DataBase, Backend

#224 pull request (backend): implement Oauth logs
  backend/src/config/entity/Logger.ts
  backend/src/routes/auth/auth.ts
  backend/src/routes/logs/logs.service.ts
  database/table/logs.sql
Labels: DataBase, Backend

#226 refactor (backend): update redirection inn github callback
  backend/src/routes/auth/auth.ts
Labels: Backend

#228 Fix details errors
  web/app/login/page.tsx
  web/app/page.tsx
  web/app/register/page.tsx
Labels: Web-UI

#229 fix(AuthContext): clear auth token cookie on invalid user data response
  web/contexts/AuthContext.tsx
Labels: bug

#230 feat (MiddleWare) : Update the token middleware so that the coo…
  backend/src/middleware/token.ts
Labels: bug, Backend

#231 feat (Backend): Add more detail in the backend intrnal server error t…
  backend/src/routes/about/about.ts
  backend/src/routes/auth/auth.ts
  backend/src/routes/github/github.ts
  backend/src/routes/google/google.ts
  backend/src/routes/services/configs.ts
  backend/src/routes/services/index.ts
  backend/src/routes/services/mappings.ts
  backend/src/routes/user/user.ts
  backend/src/webhooks/index.ts
Labels: bug, Backend

#227 Adding automation managing
  web/app/my-areas/page.tsx
  web/app/page.tsx
  web/components/NavLinks.tsx
  web/components/UserActions.tsx
  web/components/action-form.tsx
  web/components/reaction-form.tsx
  web/components/ui/drawer.tsx
  web/components/ui/select.tsx
  web/components/ui/switch.tsx
  web/components/ui/textarea.tsx
  web/package.json
  web/types/action.ts
  web/types/mapping.ts
  web/types/reaction.ts
Labels: Web-UI

#232 Add the login with GitHub on mobile
  .github/workflows/cicd.yml
  deployment/Dockerfile.mobile
  deployment/docker-compose.yml
  mobile/android/app/build.gradle.kts
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/lib/core/config/app_config.dart
  mobile/lib/core/constants/app_constants.dart
  mobile/lib/l10n/app_localizations.dart
  mobile/lib/l10n/app_localizations_en.dart
  mobile/lib/l10n/app_localizations_fr.dart
  mobile/lib/screens/add_automation_screen.dart
  mobile/lib/screens/login_screen.dart
  mobile/lib/screens/profile_screen.dart
  mobile/lib/widgets/.gitkeep
  mobile/lib/widgets/widget_oauth_webview.dart
  mobile/pubspec.yaml
  mobile/test/main_navigation_test.dart
  scripts/buildMobileApk.sh
  scripts/runMobileDebug.sh
  scripts/runMobileRelease.sh
Labels: Mobile-UI

#233 backend - oauth subscription spotify
  backend/index.ts
  backend/package.json
  backend/src/config/entity/Logger.ts
  backend/src/config/passport.ts
  backend/src/routes/auth/auth.ts
  backend/src/routes/logs/logs.service.ts
  backend/src/routes/spotify/spotify.ts
  backend/src/services/services/spotify/actions.ts
  backend/src/services/services/spotify/index.ts
  backend/src/services/services/spotify/oauth.ts
  backend/src/services/services/spotify/reactions.ts
  backend/src/services/services/spotify/schemas.ts
  web/app/services/page.tsx
Labels: Backend

#238 remove (backend): useless database
  .github/workflows/cicd.yml
  backend/index.ts
  backend/src/config/adminJs.ts
  backend/src/config/dashboardService.ts
  backend/src/config/db.ts
  backend/src/config/entity/UserServiceConfigs.ts
  backend/src/routes/services/configs.ts
  backend/src/services/ExecutionService.ts
  backend/src/services/UserServiceConfigService.ts
  database/table/external_webhooks.sql
Labels: Backend

#240 feat (backend): services routes
  backend/src/routes/services/index.ts
  backend/src/services/services/github/index.ts
  backend/src/services/services/google/index.ts
  backend/src/services/services/spotify/index.ts
  backend/src/services/services/timer/index.ts
  backend/src/types/service.ts
  backend/src/utils/iconMapping.ts
Labels: Backend

#242 Centralize subscribe routes
  backend/src/routes/auth/auth.ts
  backend/src/routes/github/github.ts
  backend/src/routes/google/google.ts
  backend/src/routes/services/index.ts
  backend/src/routes/services/subscription.ts
  backend/src/routes/spotify/spotify.ts
  documentation/area-documentation/docs/How to contribute/create-a-service.md
  documentation/area-documentation/docs/How to contribute/service-subscription-flow.md
  web/app/services/page.tsx
Labels: documentation, enhancement, Backend

#244 is_mobile parameter in redirections
  backend/src/routes/auth/auth.ts
  backend/src/routes/services/subscription.ts
  documentation/area-documentation/docs/How to contribute/service-subscription-flow.md
Labels: documentation, enhancement, Backend

#249 Refacto button cursor pointer
  web/app/dashboard/page.tsx
  web/app/my-areas/page.tsx
  web/app/page.tsx
  web/app/services/page.tsx
  web/app/verify/page.tsx
  web/components/UserActions.tsx
  web/components/header.tsx
  web/components/login-form.tsx
  web/components/password-form.tsx
  web/components/reaction-form.tsx
  web/components/register-form.tsx
Labels: Web-UI

#253 Wcag compilant on the main page
  web/app/page.tsx
  web/components/UserActions.tsx
  web/components/header.tsx
  web/package.json
Labels: Web-UI

#254 Implement login to services section in mobile profile page
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/ios/Runner/Info.plist
  mobile/lib/core/config/app_config.dart
  mobile/lib/core/constants/app_constants.dart
  mobile/lib/l10n/app_en.arb
  mobile/lib/l10n/app_fr.arb
  mobile/lib/l10n/app_localizations.dart
  mobile/lib/l10n/app_localizations_en.dart
  mobile/lib/l10n/app_localizations_fr.dart
  mobile/lib/screens/login_screen.dart
  mobile/lib/screens/profile_screen.dart
  mobile/lib/screens/services_screen.dart
  mobile/lib/services/mobile_oauth_service.dart
  mobile/lib/services/service_subscription_service.dart
  mobile/lib/widgets/widget_oauth_webview.dart
  mobile/pubspec.yaml
Labels: Mobile-UI

#250 Update the data in tables
  backend/index.ts
  backend/src/app.ts
  backend/src/config/EncryptionService.ts
  backend/src/config/adminJs.ts
  backend/src/config/passport.ts
  backend/src/routes/auth/auth.service.ts
  backend/src/routes/user/user.service.ts
  backend/src/services/EncryptedUserService.ts
  backend/tests/routes/user.test.ts
  backend/tests/services/auth.service.test.ts
  backend/tests/services/user.service.test.ts
  web/app/services/page.tsx
Labels: DataBase, Backend

#252 fix (backend): redirect to services pages when subscription
  backend/src/routes/auth/auth.ts
Labels: bug, Backend

#258 FIX Backend - Shared / Personnal events
  backend/src/routes/services/mappings.service.ts
  backend/src/services/ExecutionService.ts
  backend/src/services/services/github/actions.ts
  backend/src/services/services/spotify/executor.ts
  backend/src/types/service.ts
  documentation/area-documentation/docs/How to contribute/create-a-service.md
Labels: bug, Backend
